//- ** This is a sample of a pug template and how it uses the data passed to it from index.js.

doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 Only Murders In the Building Clues
        .cards 
            each clue in data
                .card 
                    h2.card__name #{clue.properties.clue_name}  
                    h3.card__location Located: #{clue.properties.location}
                    p.card__description #{clue.properties.clue_description}