//- ** This is a sample of a pug template and how it uses the data passed to it from index.js.

doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 Only Murders In the Building Clues
        h3
            a(class={active: currentUrl === '/updates'} href='/updates') Add/Update this table
        table
            thead
                tr
                    th Clue Name
                    th Clue Location
                    th Clue Description
            tbody
                each clue in data
                    tr
                        td= clue.properties.clue_name
                        td= clue.properties.location
                        td= clue.properties.clue_description
